.header{
    height: 60px;
    background-color: #333;
    color: #fff;
    padding-top: 10px;
    border-bottom: 1px lawngreen solid;
}

.header__list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.header__list--item{
    display: inline-block;
    font-size: 10px;
}

.header__list--item:hover{
    color: lawngreen;
    cursor: pointer;
}

.container{
    background-color: #333;
    color: #fff;
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 100px;
    
}

/* .text{
    width: 40%;
    height: 550px;
} */

.list{
    list-style:none;
}

.footer{
    background-color: #333;
    border-top: 1px solid lawngreen;
    padding-top: 5px;
    padding-bottom: 7px;
    font-size: 15;
    color: #fff;
    padding-left: 10px;
}

.footer:hover{
    
    cursor: pointer;
    color: lawngreen;
}
.text{
    width: 40%;
    height: 550px;
}
.modal{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal_body{
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: #fff;
    z-index: 1;
    border-radius: 3px;
}

.closeBtn{
    position: relative;
    left: 92%;
    top: 2%;
    font-size: 15px;
}

.closeBtn:hover{
    color: red;
    cursor: pointer;
}

.account-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.account-form__group
{
    position: relative;
    margin: 20px;
    font-size: 12px;
}

.account-form__input{
    position: relative;
    line-height: 20px;
    width: 100%;
}

.account-form__controls{
    position: relative;
    margin: 20px;
}

.account-form__switch-btn:hover{
    color: lawngreen;
    cursor: pointer;
}

.account-form__controls{
    font-size: 10px;
}

.btn{
    line-height: 20px;
}